h1{
  font-size: 45px;
}

.App {
  width: 400px;
  margin: 0 auto;
  font-family: sans-serif;
  text-align: center;
}

.add_form input,
.add_form button,
.clear {
  padding: 5px;
  border: 0;
  outline: 0;
  font-size: 16px;
}

.add_form button, 
.clear{
  cursor: pointer;
}

.add_form input {
  background: #e1e1e2;
  padding: 15px 20px;
}

.add_form button{
  padding: 15px;
}

.add_form button,
.clear {
  background: #333;
  color: white;
}

.clear{
  padding: 10px 15px;
  margin-right: 1rem;
}

.list {
  padding: 20px 0;
}

.list > div {
  padding: 5px 0;
  font-size: 20px;
  margin-bottom: 5px;
  cursor: pointer;
  margin-right: 1rem;
}

.list > div:last-child {
  border-bottom: 0;
}

.complete {
  text-decoration: line-through;
  cursor: pointer;
}

